.view-sfc + .view-sfc {
	margin-top: 20px;
}

.view-sfc {
	border: var(--view-sfc-border);
	padding: 20px;
	position: relative;

	/* 预览 */
	.preview {
		padding: 22px 24px 50px;
		border-bottom: var(--view-sfc-preview-bottom-border);
	}

	.content {
		position: relative;

		.code {
			padding: 0 12px;
			display: grid;
			grid-template-rows: 0fr;
			transition: grid var(--view-sfc-duration-time) ease-in-out;
			overflow: hidden;
			position: relative;
			margin-bottom: 0;
			pre {
				min-height: 0;
				margin: 0;
				transition: padding var(--view-sfc-duration-time) ease-in-out;
				&::-webkit-scrollbar {
					width: 0 !important;
					display: none !important;
				}
			}
			&.closed pre {
				padding: 0 !important;
			}
		}

		.closeBtn {
			background-color: var(--view-sfc-bg);
			border-radius: 4px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			transition: all 0.3s;
			padding: 10px 0;
			font-size: 14px;

			&:hover {
				color: var(--view-sfc-btn-close-hover);
			}
		}

		.title {
			font-weight: 600;
			margin-bottom: 10px;
			background-color: var(--view-sfc-bg);
			transform: translateY(-50%);
			display: inline-block;
			padding-right: 8px;
		}

		.description {
			font-size: 14px;
			color: #999;
			margin-top: 20px;
			margin-bottom: 20px;
		}

		.btn-group {
			right: 24px;
			top: 24px;
			display: flex;
			align-items: center;
			justify-content: right;

			button.viewBtn {
				min-width: 32px;
				min-height: 32px;
				margin-left: 8px;
				padding: 0 12px;
				background-color: var(--view-sfc-bg);
				border: var(--view-sfc-border);
				border-radius: 4px;
				font-size: 14px;
				color: #666;
				cursor: pointer;
				transition: all 0.3s;

				&:hover {
					background-color: var(--view-sfc-btn-hover);
				}

				&.active {
					border-bottom: 2px solid var(--view-sfc-code-active);
				}
			}
		}
	}
}
